.ex-fileupload-preview {
    padding: 10px;
    border: 2px dashed #e5e5e5;
    text-align: center;
    transition: border .3s;
}
.ex-fileupload-item-nav a {
    color: #666;
}
.ex-fileupload-preview.uk-dragover {
    border: 2px dashed #bbbbbb;
}
.ex-fileupload-item-nav {
    z-index: 1;
    background: #f8f8f8;
    padding: 5px;
}
.ex-fileupload-item-nav,
.ex-fileupload-item-footer {
    display: none;
}
.ex-fileupload-modal [data-cropper] {
    margin-right: 3px;
}
.ex-fileupload-modal .uk-modal-body,
.ex-fileupload-modal .uk-modal-footer {
    padding: 15px 15px;
}
.ex-fileupload-item-body .uk-text-break {
    margin: 5px;
    font-size: 0.775rem;
    line-height: 1.2;
}
.ex-fileupload-modal .uk-modal-footer .uk-inline {
    width: 90px;
}
/* Cropper js */
.cropper-point {
    height: 10px;
    width: 10px;
}
.cropper-point.point-e {
    margin-top: -5px;
    right: -5px;
}
.cropper-point.point-n {
    margin-left: -5px;
    top: -5px;
}
.cropper-point.point-w {
    left: -5px;
    margin-top: -5px;
}
.cropper-point.point-s {
    bottom: -5px;
    margin-left: -5px;
}
.cropper-point.point-ne {
    right: -5px;
    top: -5px;
}
.cropper-point.point-nw {
    left: -5px;
    top: -5px;
}
.cropper-point.point-sw {
    bottom: -5px;
    left: -5px;
}
.cropper-point.point-se {
    bottom: -5px;
    right: -5px;
}
